<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.adult_zeren"
    android:versionCode="1"
    android:versionName="1.0" >
    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.example.adult_zeren" />
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:name="com.example.demo.DemoApplication"
        android:icon="@drawable/ic_launcher"
        android:label="30即将来临"
        android:theme="@style/AppTheme" >
         <uses-library android:name="android.test.runner" />
        <activity
            android:name="com.example.demo.MainActivity"
            android:label="30即将来临" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name="com.activity.FloatActionButtonActivity"
            android:label="Floatt Action Button" >
            <intent-filter>
                <action android:name="com.example.demo.demoaction2"/>
            </intent-filter>
        </activity>

        <activity android:name="com.activity.BitmapTransActivity"
            android:label="BitmapTransActivity" >
            <intent-filter>
                <action android:name="com.example.demo.demoaction2"/>
            </intent-filter>
        </activity>

        <activity android:name="com.activity.RecyclerViewActivity"
            android:label="recycleView/simple" >
            <intent-filter>
                <action android:name="com.example.demo.demoaction2"/>
            </intent-filter>
        </activity>

        <activity android:name="com.activity.AnnotationActivity"
            android:label="AnnotationActivity" >
            <intent-filter>
                <action android:name="com.example.demo.demoaction2"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
